button {
  &.label-0,
  &.label-1,
  &.label-2,
  &.label-3,
  &.label-4,
  &.label-5,
  &.label-6,
  &.label-7,
  &.label-8,
  &.label-9 {
   color: #ffffff;
  }

  &.label-0 {
   background-color: #93B449;

   &:hover {
     background-color: #BEE85E;
   }
  }

  &.label-1 {
   background-color: #7A88A5;

   &:hover {
     background-color: #A4B7DE;
   }
  }

  &.label-2 {
   background-color: #EBAD2D;

   &:hover {
     background-color: #FFCD64;
   }
  }

  &.label-3 {
   background-color: #BF3865;

   &:hover {
     background-color: #FF4A87;
   }
  }

  &.label-4 {
   background-color: #AA40BA;

   &:hover {
     background-color: #D38FE8;
   }
  }

  &.label-5 {
   background-color: #5A3DD1;

   &:hover {
     background-color: #8b71f5;
   }
  }

  &.label-6 {
   background-color: #389AAD;

   &:hover {
     background-color: #69C6D9;
   }
  }

  &.label-7 {
   background-color: #38A678;

   &:hover {
     background-color: #56D4A2;
   }
  }

  &.label-8 {
   background-color: #28A122;

   &:hover {
     background-color: #64E35F;
   }
  }

  &.label-9 {
   background-color: #C4B234;

   &:hover {
     background-color: #e3d36f;
   }
  }
}
